import { Command } from '@nestjs/cqrs';

import { <%= classify(name) %> } from '#modules/<%= plural(name) %>/domain/entities';
import { Create<%= classify(name) %>Dto } from '#modules/<%= plural(name) %>/domain/dtos';

export class Create<%= classify(name) %>Command extends Command<<%= classify(name) %>> {
  constructor(public readonly create<%= classify(name) %>Dto: Create<%= classify(name) %>Dto) {
    super();
  }
}
