import { Command } from '@nestjs/cqrs';

import { <%= classify(name) %> } from '#modules/<%= plural(name) %>/domain/entities';
import { Update<%= classify(name) %>Dto } from '#modules/<%= plural(name) %>/domain/dtos';

export class Update<%= classify(name) %>Command extends Command<<%= classify(name) %>> {
  constructor(
    public readonly id: string,
    public readonly update<%= classify(name) %>Dto: Update<%= classify(name) %>Dto,
  ) {
    super();
  }
}
