import { Query } from '@nestjs/cqrs';

import { <%= classify(name) %> } from '#modules/<%= dasherize(name) %>s/domain/entities';

export class All<%= classify(name) %>sQuery extends Query<<%= classify(name) %>[]> {
  constructor() {
    super();
  }
}
