import { Query } from '@nestjs/cqrs';

import { <%= classify(name) %> } from '#modules/<%= plural(name) %>/domain/entities';

export class Find<%= classify(name) %>ByIdQuery extends Query<<%= classify(name) %> | null> {
  constructor(public readonly id: string) {
    super();
  }
}
